@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, #root {
    margin: 0px;
    height: 100%;
    background: #eeeeee;
    font-family: Lato;
}

label {
    display:block;
}
.task{
    color: rgb(43, 144, 226)
}
.task-completed{
    color:red;
    text-decoration: line-through;
}
p{
    cursor: pointer;
}